
	#div1 {
		position: absolute;
		top: 178px;
		left: 132px;
		}
	#div2 {
		position: absolute;
		top: 0px;
		left: 299px;
		}
	#divText2 {
		position: absolute;
		top: 84px;
		left: 105px;
		}
	#text1 {
		position: absolute;
		top: 128px;
		left: 173px;
		}
	#text2 {
		position: absolute;
		top: 88px;
		left: 173px;
		}
	#text3 {
		position: absolute;
		top: 155px;
		left: 173px;
		}