* {
	margin: 0;
	padding: 0;
}
#creator{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	user-select: none;
}
#parentList{
	position: fixed;
	width: 100px;
	height: auto;
	max-height: 100%;
	border: 2px solid #fff;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.7);
	padding: 20px;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.7), 0 0 5px rgba(0,0,0,0.8);
}
#parentList .parent-node:hover{
	background-color: #ccc;
}
#parentList .selected{
	border: 1px dashed #777;
}

#DOMTree{
	position: fixed;
	top: 10px;
	right: 5px;
	width: auto;
	height: auto;
	max-width: 200px;
	max-height: 100%;
	border: 2px solid #fff;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.7);
	padding: 20px;
	user-select: none;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.7), 0 0 5px rgba(0,0,0,0.8);
}
#DOMTree > ul{
	padding-left: 0.5em;
}
#DOMTree ul{
	pointer-events: none;
}
#DOMTree ul li{
	pointer-events: auto;
}
.parent-node,
#DOMTree .child-el{
	position: relative;
	font-size: 1em;
	padding: 0.3em 0.5em;
	color: #aaa;
	background: rgba(0,0,0,0.1);
	border-bottom: 1px solid #555;
	margin-bottom: 0.5em;
	border-radius: 5px;
}
#DOMTree .child-el.target,
#DOMTree .child-el:hover{
	font-size: 1.1em;
	color: #fff;
}
#DOMTree li ul{
	display: none;
}
#DOMTree .child-el.parent-of-target ul,
#DOMTree .child-el.target ul{
	display: block;
}
#creator .over{
	box-shadow: 0 0 0.2em rgba(100,100,100,0.5);
}
#creator.editing *{
	pointer-events: none;
}
#creator .target{
	pointer-events: auto;
}
#creator .element-scale{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
}
#creator .element-scale::before{
	content: '';
	position: absolute;
	top: 0;
	right: 100%;
	bottom: 0;
	width: 1000px;
	border: dashed rgba(0,0,0,0.2);
	border-width: 1px 0;
	pointer-events: none;
}
#creator .element-scale::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 100%;
	height: 1000px;
	border: dashed rgba(0,0,0,0.2);
	border-width: 0 1px;
	pointer-events: none;
}
