* {
	margin: 0;
	padding: 0;
}
#parentList{
	position: fixed;
	background-color: #ccc;
	width: 100px;
	border: 1px solid #777;
}
.parent-node{
	background-color: #eee;
	border: 1px solid #777;
	padding: 10px 20px;
}
.parent-node:hover{
	background-color: #ccc;
}
.selected{
	border: 1px dashed #777;
}

#DOMTree{
	position: fixed;
	top: 10px;
	right: 5px;
	width: 100px;
	height: 500px;
	border: 1px solid #777;
	background-color: #eee;
	padding: 20px;
	user-select: none;
}
#DOMTree > ul{
	padding-left: 0.5em;
}
#DOMTree li ul{
	display: none;
}
#DOMTree .child-el{
	font-size: 1em;
	padding: 0.2em 0.5em;
	color: #777;
}
#DOMTree .child-el.target,
#DOMTree .child-el:hover{
	font-size: 1.1em;
	color: #000;
}
#DOMTree .child-el.target ul,
#DOMTree .child-el:hover ul{
	display: block;
}
.over{
	box-shadow: 0 0 0.1em rgba(100,0,0,0.5);
}
.target{
	z-index: 100;
}
